*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 239, 239);
}

nav{
    background-color: white;
    height: 4rem;
    align-content: center;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
}
.navbar-searchbar{
    position: relative;
    width: 34rem;
    height: 3rem;
    background-color: rgb(239, 245, 254);
    border-radius: 10px;
    display: flex;
}

.Pke_EE{
    position: absolute;
    width: 90%;
    height: 100%;
    border: none;
    border-radius: 10px;
    margin-left: 10%;
    font-size: medium;
    background-color: rgb(239, 245, 254);
}

.seach-icon{
    position: absolute;
    margin-left: 1rem;
    margin-top: 0.7rem;
}

.navbar-logos{
    list-style: none;
    display: flex;
    margin-right: 1rem;
    align-items: center;
    align-content: center;
    gap: 3rem;
    margin-right: 5rem;
}

.link{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
}

.logo-head{
    margin-top: 4px;
    font-size: 15px;
    font-weight: lighter;
    margin-left: 0.5rem;
}

.los{
    display: flex;
    list-style: none;
    gap: 4.2rem;
    margin-right: 3rem;

}

.ho{
    background-color:rgb(255, 255, 255);
    display: flex;
    height: 10rem;
    justify-content: space-evenly;
    margin: 0.7rem;
}

.desc {
    text-decoration: none;
}

li{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    color: black;
    font-family: sans-serif;
}

.mySlides {
    display: none;
}

/* Slideshow container */
.slideshow-container {
    width: 75rem;
    height: 100%;
    max-height: 100vh;
    margin: auto;
}
/* The dots/bullets/indicators */
.dot {

    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(12, 12, 12);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.989);
    top: 60%;
}

/* Position the "next button" to the right */
.next {
    right: 1.8rem;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
}


.Regular-offer{
    display: flex;
    flex-direction: column;
    margin-top: 3.3rem;
    gap: 2rem;
    background-color: white;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.Offer-template-description{
    margin-bottom: 2.3rem;
}

strong{
    margin-left: 1.3rem;
}

.Regular-offertemplate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}

.Regularoffer-head{
    margin-left: 2rem;
    font-size: large;
    font-family:cursive;
    margin-top: 2rem;
}

.Smartphone-offer{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 2rem;
    background-color: white;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.coupon-offer-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    background-color: rgb(254, 253, 253);
    margin: 0.7rem;
}
    
.coupon-offer-1{
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
}

.coupon-offer-2{
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
}

.coupon-offer-3{
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
}

.offer-3Containers{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-3offer-container {
    display: flex;
    gap: 20px; /* Space between containers */
    background-color: white;
}

.offer-3container {
    display: flex;
    flex-direction: column;
    border: 1.2px solid black;
    padding: 10px;
    width: 400px;
    height: 450px;
    text-align: center;
    gap: 2rem;
}



.offer-3box-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    gap: 10px; /* Space between boxes */
}

.offer-3box {
    width: 10rem;
    height: 11.2rem;
    border: 1px solid rgb(198, 198, 198);
    background-color: white;
}

.offer-3ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: cursive;
}

.Click{
    background-color: rgb(42, 42, 254);
    height: 25px;
    width: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}


